<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title>Client</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div class="container">
    <span class="border-0"></span>
    <div class="row justify-content-md-center">
        <div class="align-content-center align-middle">

            <div class="card text-center shadow-lg p-3 mb-5 bg-white rounded mt-5">
                <div class="card-header">
                    Oauth - Demo
                </div>
                <div class="card-body">
                    <h5 class="card-title">Access Token</h5>
                    <p class="card-text">Click this button to get an Access token using the authorization code</p>
                    <a th:href="@{/authorization}"
                       class="btn btn-primary btn-lg">Get Access Token</a>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>