<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title>Client</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div class="container-fluid">
    <div class="row d-flex align-items-center justify-content-center mt-2 bg-light">
        <h1>Oauth - Demo</h1>
    </div>

    <div class="row d-flex align-items-center justify-content-center">

        <div class="card text-center">
            <img src="/img/oauth2-logo.jpg" class="card-img-top" alt="Oauth 2">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <a href="/code/" class="btn btn-dark btn-lg">Authorization Code Flow</a>
                    </div>
                    <div class="col-lg-6">
                        <a href="/credentials/" class="btn btn-dark btn-lg">Client Credentials Flow</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


</body>
</html>