<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Hello</title>
    <link rel="stylesheet" th:href="@{/css/demo.css}"/>
</head>
<body>
<p th:text="'Time is :' + ${date}" class="funny"></p>
<!--<a th:href="@{https://github.com/login/oauth/authorize(response_type=code, scope='repo', state= ${state},
					client_id=${client}, redirect_uri=${callback})}">Get Authorization Code</a>-->

<a th:href="@{http://localhost:8081/oauth/authorize(response_type=code, state= ${state},
					client_id=${client}, redirect_uri=${callback})}">Get Authorization Code</a>

</body>
</html>